mat-form-field {
    width: 100%;
}

//Inicio CARD-----------
mat-card-title {
    background-color: #0f3369;
    color: white;
    padding-left: 1.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-weight: lighter;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.mat-mdc-card-content:last-child{
    padding-bottom: 0%;
}
//Fin CARD--------------

mat-option {
    font-size: 13px;
}

::ng-deep .mat-mdc-tab-body-content {
    overflow-x: hidden !important;
}

.flex-item {
    justify-content: center;
    min-width: 0;
    text-align: center;
}

.campo-fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem 1rem 0.5rem 1rem;
    position: relative;
}
  
.campo-fieldset legend {
    font-size: 0.9rem;
    font-weight: 500;
    width: auto;
    color: #0f3369;
    background-color: #f9f9f9;
    padding: 0 0.5rem;
    margin-left: 1rem;
    position: absolute;
    top: -0.6rem;
}

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-start;
}

.contenedor-formulario {
    flex: 0 0 60%;
}
  
.contenedor-tablaDerecha {
    flex: 1 1 38%;
}

.row-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
  
.flex-row-container {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.flex-row-container:hover {
    background-color: #dfe9f3;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1430px){

    .contenedor-formulario,
    .contenedor-tablaDerecha {
      flex: 0 0 100%;
    }

}

/* Tablets (2 columnas) */
@media (max-width: 991px) {

    .flex-item {
      flex: 1 1 48% !important; /* Cada item ocupará 100% cuando sea pequeño */
    }
}

/* Celulares (1 columna) */
@media (max-width: 767px) {

    .flex-item {
      flex: 1 1 100% !important; /* Cada item ocupará 100% cuando sea pequeño */
    }

}

.btn-registrar {
    background-color: #14532d !important; // verde oscuro
    color: white !important;
  
    &:hover {
      background-color: #077732 !important;
    }
}
  
.btn-actualizar {
    background-color: #ecb80b !important; // amarillo suave
    color: #154cb3 !important;
  
    &:hover {
      background-color: #ffda06 !important;
    }
}
  
.btn-nuevo {
    background-color: #8d9097 !important; // azul moderno
    color: white !important;

    &:hover {
        background-color: #b9b7b7 !important;
    }
}

.btn-telefono {
    font-size: 0.75rem; // texto más pequeño
    padding: 0.25rem 0.75rem; // menos padding
    min-height: auto; // evita altura mínima
    line-height: 1.2;
}