<mat-nav-list>
    <a mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
    </a>
    <a mat-list-item routerLink="/pacientes">
        <mat-icon>people</mat-icon>
        <span>Pacientes</span>
    </a>
    <a mat-list-item routerLink="/pruebaLab">
        <mat-icon>science</mat-icon>
        <span>Pruebas Lab</span>
    </a>
    <a mat-list-item routerLink="/itemLab">
        <mat-icon>science</mat-icon>
        <span>Mantenimiento Items</span>
    </a>
    <a mat-list-item routerLink="/servicios">
        <mat-icon>science</mat-icon>
        <span>Mantenimiento Servicios</span>
    </a>
    <a mat-list-item routerLink="/recursoHumano">
        <mat-icon>science</mat-icon>
        <span>Recursos Humanos</span>
    </a>

</mat-nav-list>
