<div class="sidenav-content">
  <div class="sidenav-header">
    <mat-icon>account_circle</mat-icon>
    <span class="username">
      {{ nombreUsuario || "Usuario" }} - {{ rol || "" }}
    </span>
  </div>

  <mat-list class="menu-list">
    <ng-container *ngFor="let ruta of rutasPermitidas">
      <mat-list-item
        class="menu-item"
        [routerLink]="ruta.urlRuta"
        (click)="onMenuItemClick()"
      >
        <span matListItemIcon class="material-symbols-outlined">
          {{ ruta.iconoRuta }}
        </span>
        <div matListItemTitle>{{ ruta.nombreRuta }}</div>
      </mat-list-item>
    </ng-container>
  </mat-list>

  <div class="logout-container">
    <button mat-button color="warn" (click)="cerrarSesion()">
      <mat-icon>logout</mat-icon>
      Cerrar sesión
    </button>
  </div>
</div>
