<form [formGroup]="myFormPagoPersona">
  <div class="contenedor-flex">
    <div class="contenedor-formulario">
      <div class="row-flex" style="align-items: center">
        <div
          [style.flex]="setFlex(45, '%')"
          class="flex-item quicksand-totales"
        >
          <h5 class="text-center mb-3" style="font-weight: 700">
            PAGO DE COTIZACIONES - PACIENTES
          </h5>
        </div>

        <div [style.flex]="setFlex(18, '%')" class="flex-item">
          <mat-form-field appearance="outline">
            <mat-label>N° Pago</mat-label>
            <input matInput formControlName="codPago" readonly />
          </mat-form-field>
        </div>
      </div>

      <fieldset class="campo-fieldset">
        <legend>Detalle de Cotización</legend>

        <div class="row-flex mt-2">
          <div [style.flex]="setFlex(25, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>N° Cotización</mat-label>
              <input matInput formControlName="codCotizacion" readonly />
            </mat-form-field>
          </div>

          <div [style.flex]="setFlex(10, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Versión</mat-label>
              <input matInput formControlName="version" readonly />
            </mat-form-field>
          </div>

          <div [style.flex]="setFlex(20, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Fecha Cotización</mat-label>
              <!-- <input matInput formControlName="fechaCotizacion" readonly /> -->
              <input
                matInput
                [value]="
                  myFormPagoPersona.get('fechaCotizacion')?.value
                    | date: 'dd/MM/yyyy HH:mm'
                "
                disabled
                readonly
              />
            </mat-form-field>
          </div>

          <div [style.flex]="setFlex(20, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Estado</mat-label>
              <input matInput formControlName="estadoCotizacion" readonly />
            </mat-form-field>
          </div>

          <div [style.flex]="setFlex(20, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Historia Clíncia</mat-label>
              <input
                matInput
                [value]="myFormPagoPersona.get('hc')?.value || ''"
                disabled
                readonly
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row-flex">
          <div [style.flex]="setFlex(50, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de Paciente</mat-label>
              <input
                matInput
                [value]="
                  (myFormPagoPersona.get('apePatCliente')?.value || '') +
                  ' ' +
                  (myFormPagoPersona.get('apeMatCliente')?.value || '') +
                  ' ' +
                  (myFormPagoPersona.get('nombreCliente')?.value || '')
                "
                disabled
                readonly
              />
            </mat-form-field>
          </div>

          <div [style.flex]="setFlex(20, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Tipo de Documento</mat-label>
              <input
                matInput
                [value]="myFormPagoPersona.get('tipoDoc')?.value || ''"
                disabled
                readonly
              />
            </mat-form-field>
          </div>

          <div [style.flex]="setFlex(27, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Nro de Documento</mat-label>
              <input
                matInput
                [value]="myFormPagoPersona.get('nroDoc')?.value || ''"
                disabled
                readonly
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row-flex">
          <div [style.flex]="setFlex(50, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Solicitante</mat-label>
              <input
                matInput
                [value]="
                  (myFormPagoPersona.get('apePatRefMedico')?.value || '') +
                  ' ' +
                  (myFormPagoPersona.get('apeMatRefMedico')?.value || '') +
                  ' ' +
                  (myFormPagoPersona.get('nombreRefMedico')?.value || '')
                "
                disabled
                readonly
              />
            </mat-form-field>
          </div>
          <div [style.flex]="setFlex(27, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Profesión</mat-label>
              <input
                matInput
                [value]="
                  myFormPagoPersona.get('profesionSolicitante')?.value || ''
                "
                disabled
                readonly
              />
            </mat-form-field>
          </div>
          <div [style.flex]="setFlex(20, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Colegiatura</mat-label>
              <input matInput formControlName="colegiatura" readonly />
            </mat-form-field>
          </div>
        </div>

        <mat-card class="mt-2 mb-2">
          <mat-card-title> Servicios Cotizados </mat-card-title>

          <mat-card-content>
            <table mat-table [dataSource]="dataSourceServiciosCotizados">
              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Código
                </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  {{ row.get("codServicio")?.value }}
                </td>
              </ng-container>

              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Tipo
                </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  {{ row.get("tipoServicio")?.value }}
                </td>
              </ng-container>

              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Nombre
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.get("nombreServicio")?.value }}
                </td>
              </ng-container>

              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Cantidad
                </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  {{ row.get("cantidad")?.value }}
                </td>
              </ng-container>

              <ng-container matColumnDef="precioLista">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Precio Lista
                </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  S/ {{ row.get("precioLista")?.value }}
                </td>
              </ng-container>

              <ng-container matColumnDef="diferencia">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Descuento o Aum.
                </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  S/ {{ row.get("diferencia")?.value }}
                </td>
              </ng-container>

              <ng-container matColumnDef="precioVenta">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Precio Venta
                </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  S/ {{ row.get("precioVenta")?.value }}
                </td>
              </ng-container>

              <ng-container matColumnDef="descuentoPorcentaje">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Descuento (%)
                </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  S/ {{ row.get("descuentoPorcentaje")?.value }}
                </td>
              </ng-container>

              <ng-container matColumnDef="totalUnitario">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Total Unitario
                </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  S/ {{ row.get("totalUnitario")?.value }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="columnasTablaServiciosCotizados"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  let i = index;
                  columns: columnasTablaServiciosCotizados
                "
                [formGroup]="row"
              ></tr>
            </table>

            <div class="row-flex mt-3">
              <div [style.flex]="setFlex(15, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Total Precio Lista</mat-label>
                  <input
                    class="text-center"
                    matInput
                    [value]="
                      myFormPagoPersona.get('sumaTotalesPrecioLista')?.value
                    "
                    readonly
                  />
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(15, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Descuento</mat-label>
                  <input
                    class="text-center"
                    matInput
                    [value]="myFormPagoPersona.get('descuentoTotal')?.value"
                    readonly
                  />
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(15, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Sub Total</mat-label>
                  <input
                    class="text-center"
                    matInput
                    [value]="myFormPagoPersona.get('subTotal')?.value"
                    readonly
                  />
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(15, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>IGV (18%)</mat-label>
                  <input
                    class="text-center"
                    matInput
                    [value]="myFormPagoPersona.get('igv')?.value"
                    readonly
                  />
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(20, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Monto Final</mat-label>
                  <input
                    class="text-center"
                    style="font-weight: 600; font-size: 18px"
                    matInput
                    [value]="myFormPagoPersona.get('total')?.value"
                    readonly
                  />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </fieldset>

      <fieldset class="campo-fieldset mt-3">
        <legend>Detalle de Pagos</legend>

        <div class="mt-2">
          <!-- Actualiza faltaPagar automáticamente al agregar o modificar pagos -->
          <ng-container *ngIf="actualizarFaltaPagar()"></ng-container>

          <div
            formArrayName="detallePagos"
            *ngFor="let pagosGroup of detallePagos.controls; let i = index"
          >
            <div [formGroupName]="i" class="row-flex">
              <div [style.flex]="setFlex(15, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Fecha - mm/dd/yyyy</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="fechaPago"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(20, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Medio de Pago</mat-label>
                  <mat-select formControlName="medioPago">
                    <mat-option value="Efectivo">Efectivo</mat-option>
                    <mat-option value="Transferencia">Transferencia</mat-option>
                    <mat-option value="Yape">Yape</mat-option>
                    <mat-option value="Plin">Plin</mat-option>
                    <mat-option value="Tarjeta Crédito"
                      >Tarjeta Crédito</mat-option
                    >
                    <mat-option value="Tarjeta Débito"
                      >Tarjeta Débito</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="pagosGroup.get('medioPago')?.hasError('required')"
                  >
                    Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(13, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Monto</mat-label>
                  <input
                    matInput
                    formControlName="monto"
                    type="number"
                    min="0"
                    class="text-center"
                  />
                  <mat-error
                    *ngIf="pagosGroup.get('monto')?.hasError('required')"
                  >
                    Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(13, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Recargo</mat-label>
                  <input
                    matInput
                    formControlName="recargo"
                    type="number"
                    min="0"
                    class="text-center"
                  />
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(13, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Nro Operac.</mat-label>
                  <input
                    matInput
                    formControlName="numOperacion"
                    class="text-center"
                  />
                  <mat-error
                    *ngIf="pagosGroup.get('numOperacion')?.hasError('required')"
                  >
                    Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(13, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Banco </mat-label>
                  <mat-select formControlName="bancoDestino">
                    <mat-option value="BBVA">BBVA</mat-option>
                    <mat-option value="BCP">BCP</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="pagosGroup.get('bancoDestino')?.hasError('required')"
                  >
                    Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>

              <div
                [style.flex]="setFlex(4, '%')"
                class="flex-item d-flex align-items-center"
              >
                <button
                  mat-icon-button
                  class="mb-3"
                  type="button"
                  (click)="removerPago(i)"
                  [disabled]="tienePagos"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div class="row-flex mt-3">
            <div [style.flex]="setFlex(20, '%')" class="flex-item">
              <button
                mat-raised-button
                class="mb-2"
                type="button"
                (click)="agregarPago()"
              >
                <mat-icon>add</mat-icon> Agregar Pago
              </button>
            </div>

            <div [style.flex]="setFlex(20, '%')" class="flex-item">
              <h3
                class="quicksand-totales"
                [ngClass]="{
                  'texto-rojo': myFormPagoPersona.get('faltaPagar')?.value > 0,
                  'texto-verde':
                    myFormPagoPersona.get('faltaPagar')?.value === 0,
                }"
                style="font-weight: 800"
              >
                Falta pagar: {{ myFormPagoPersona.get("faltaPagar")?.value }}
              </h3>
            </div>
          </div>

          <div class="row-flex mt-2">
            <div [style.flex]="setFlex(15, '%')" class="flex-item">
              <h6 class="quicksand-subtotal" style="font-weight: 500">
                Sub Total:
                {{ myFormPagoPersona.get("subTotalFacturar")?.value }}
              </h6>
            </div>

            <div [style.flex]="setFlex(15, '%')" class="flex-item">
              <h6 class="quicksand-subtotal" style="font-weight: 500">
                IGV (18%): {{ myFormPagoPersona.get("igvFacturar")?.value }}
              </h6>
            </div>

            <div [style.flex]="setFlex(33, '%')" class="flex-item">
              <h3
                class="quicksand-totales texto-verde"
                style="font-weight: 800"
              >
                Total a Facturar:
                {{ myFormPagoPersona.get("totalFacturar")?.value }}
              </h3>
            </div>

            <div [style.flex]="setFlex(17, '%')" class="flex-item">
              <button
                mat-raised-button
                class="mb-2"
                type="button"
                (click)="generarPago()"
              >
                <mat-icon>save</mat-icon> Guardar Pagos
              </button>
            </div>

            <!-- <div [style.flex]="setFlex(15,'%')" class="flex-item">
                            <button mat-raised-button color="warn" class="mb-2" type="button" (click)="cancelarOperacion()">
                                <mat-icon>cancel</mat-icon> Cancelar
                            </button>
                        </div> -->

            <div
              [style.flex]="setFlex(15, '%')"
              class="flex-item"
              *ngIf="seSeleccionoPago && !mostrarSeccionAnulacion"
            >
              <button
                mat-raised-button
                class="mb-2"
                type="button"
                (click)="activarModoAnulacion()"
              >
                <mat-icon>error</mat-icon> Anular Pago
              </button>
            </div>
          </div>
        </div>
      </fieldset>

      <mat-card
        class="mt-3"
        *ngIf="mostrarSeccionAnulacion"
        style="border: 2px solid #dc3545"
      >
        <mat-card-title class="bg-danger text-white p-2">
          Anulación de Pago - {{ myFormPagoPersona.get("codPago")?.value }}
        </mat-card-title>

        <mat-card-content [formGroup]="anulacionPago">
          <div class="row-flex">
            <div [style.flex]="setFlex(17, '%')" class="flex-item">
              <p><strong>Abonado:</strong> S/ {{ calcularMonto() }}</p>
            </div>

            <div [style.flex]="setFlex(17, '%')" class="flex-item">
              <p><strong>Recargos:</strong> S/ {{ calcularRecargo() }}</p>
            </div>

            <div [style.flex]="setFlex(17, '%')" class="flex-item">
              <p>
                <strong>Monto Total:</strong> S/
                {{ calcularMontoTotalPagado() }}
              </p>
            </div>

            <div [style.flex]="setFlex(44, '%')" class="flex-item">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Motivo de anulación</mat-label>
                <mat-select formControlName="motivo" required>
                  <mat-option value="Error de monto">Error de monto</mat-option>
                  <mat-option value="Datos incorrectos"
                    >Datos incorrectos</mat-option
                  >
                  <mat-option value="A solicitud del paciente"
                    >A solicitud del paciente</mat-option
                  >
                  <mat-option value="Otro">Otro</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="anulacionPago.get('motivo')?.hasError('required')"
                  >Requerido</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="row-flex">
            <div [style.flex]="setFlex(98, '%')" class="flex-item">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Observación</mat-label>
                <textarea
                  matInput
                  rows="2"
                  formControlName="observacion"
                ></textarea>
                <mat-error
                  *ngIf="anulacionPago.get('observacion')?.hasError('required')"
                >
                  La observación es obligatoria si selecciona "Otro".
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row-flex" style="justify-content: end">
            <div [style.flex]="setFlex(20, '%')" class="flex-item">
              <button
                mat-raised-button
                type="button"
                (click)="cancelarAnulacion()"
              >
                Cancelar
              </button>
            </div>
            <div [style.flex]="setFlex(20, '%')" class="flex-item">
              <button
                mat-raised-button
                type="button"
                class="btn-confirmar-anulacion"
                (click)="confirmarAnulacion()"
              >
                Confirmar anulación
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="contenedor-tablaDerecha">
      <mat-card>
        <mat-card-title> Cotizaciones por pagar </mat-card-title>

        <mat-card-content>
          <!-- <div
            class="row-flex"
            style="justify-content: center; background-color: #f5f5f5"
          >
            <div [style.flex]="setFlex(30, '%')" class="flex-item mb-3">
              COTIZACIONES POR PAGAR
            </div>
            <div [style.flex]="setFlex(68, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Buscar Cotización</mat-label>
                <input matInput [formControl]="terminoBusquedaCotizacion" />
              </mat-form-field>
            </div>
          </div> -->

          <mat-form-field appearance="outline">
            <mat-label>Buscar Cotización</mat-label>
            <input matInput [formControl]="terminoBusquedaCotizacion" />
          </mat-form-field>

          <table mat-table [dataSource]="dataSourceCotizaciones">
            <ng-container matColumnDef="codCotizacion">
              <th mat-header-cell *matHeaderCellDef>Cod Coti</th>
              <td mat-cell *matCellDef="let cotizacion">
                {{ cotizacion.codCotizacion }}
              </td>
            </ng-container>

            <ng-container matColumnDef="paciente">
              <th mat-header-cell *matHeaderCellDef>Paciente</th>
              <td mat-cell *matCellDef="let cotizacion">
                {{
                  cotizacion.historial[cotizacion.historial.length - 1].tipoDoc
                }}
                {{
                  cotizacion.historial[cotizacion.historial.length - 1].nroDoc
                }}
                --

                {{
                  cotizacion.historial[cotizacion.historial.length - 1]
                    .nombreCliente
                }}
                {{
                  cotizacion.historial[cotizacion.historial.length - 1]
                    .apePatCliente
                }}
                {{
                  cotizacion.historial[cotizacion.historial.length - 1]
                    .apeMatCliente
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef>Fecha</th>
              <td mat-cell *matCellDef="let cotizacion">
                {{
                  cotizacion.historial[cotizacion.historial.length - 1]
                    .fechaModificacion | date: "dd/MM/yyyy"
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>Estado</th>
              <td mat-cell *matCellDef="let cotizacion">
                {{ cotizacion.estadoCotizacion }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasCotizaciones"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: columnasCotizaciones"
              (click)="cargarCotizacion(row)"
            ></tr>
          </table>
          <div>
            <mat-paginator
              #MatPaginatorCotizaciones
              [pageSizeOptions]="[5, 10, 25]"
              showFirstLastButtons
            ></mat-paginator>
          </div>

          <div
            *ngIf="dataSourceCotizaciones.data.length === 0"
            class="text-center mt-2"
          >
            No se encontraron cotizaciones.
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mt-2">
        <mat-card-title> Pagos realizados </mat-card-title>

        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Buscar Pagos</mat-label>
            <input matInput [formControl]="terminoBusquedaCotizacion" />
          </mat-form-field>

          <table mat-table [dataSource]="dataSourcePagos">
            <ng-container matColumnDef="codCoti">
              <th mat-header-cell *matHeaderCellDef>Cod Coti</th>
              <td mat-cell *matCellDef="let pago">{{ pago.codCotizacion }}</td>
            </ng-container>

            <ng-container matColumnDef="codPago">
              <th mat-header-cell *matHeaderCellDef>Cod Pago</th>
              <td mat-cell *matCellDef="let pago">{{ pago.codPago }}</td>
            </ng-container>

            <ng-container matColumnDef="nombreCompleto">
              <th mat-header-cell *matHeaderCellDef>Paciente</th>
              <td mat-cell *matCellDef="let pago">
                {{ pago.tipoDoc }} {{ pago.nroDoc }} --
                {{ pago.nombreCliente }} {{ pago.apePatCliente }}
                {{ pago.apeMatCliente }}
              </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef>Fecha</th>
              <td mat-cell *matCellDef="let pago">
                {{
                  pago.detallePagos[pago.detallePagos.length - 1].fechaPago
                    | date: "dd/MM/yyyy"
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>Estado</th>
              <td mat-cell *matCellDef="let pago">{{ pago.estadoPago }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasPagos"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: columnasPagos"
              (click)="cargarPagos(row)"
            ></tr>
          </table>
          <div>
            <mat-paginator
              #MatPaginatorPagos
              [pageSizeOptions]="[5, 10, 25]"
              showFirstLastButtons
            ></mat-paginator>
          </div>

          <div
            *ngIf="dataSourcePagos.data.length === 0"
            class="text-center mt-2"
          >
            No se encontraron pagos.
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
