mat-form-field {
    //min-width: 0;
    width: 100%;
}

mat-option {
    font-size: 13px;
    //color: #0f3369;  // Azul Bootstrap
}

::ng-deep .mat-mdc-tab-body-content {
    overflow-x: hidden !important; /* evita barra horizontal */
}

.telefono-fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem 1rem 0.5rem 1rem;
    position: relative;
}
  
.telefono-fieldset legend {
    font-size: 0.9rem; // más pequeño
    font-weight: 500;
    width: auto;
    color: #0f3369; // azul institucional
    background-color: #ffffff;
    padding: 0 0.5rem;
    margin-left: 1rem;
    position: absolute;
    top: -0.6rem;
}

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-start;
}

//Aplicando flex al formulario
.contenedor-formulario {
    flex: 0 0 60%;
    //min-width: 300px;
}
  
.contenedor-tablaDerecha {
    flex: 1 1 38%;
    //min-width: 300px;
}

.formulario-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Separación entre campos */
    row-gap: 8px;
}

.row-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Separación entre campos */
    row-gap: 8px;
}
  
.campo-flex {
    flex: 1 1 calc(50% - 12px); /* 4 columnas en pantallas grandes */
    //min-width: 200px;
}

.campo-flex-1 {
    flex: 1 1 calc(100% - 12px); /* 4 columnas en pantallas grandes */
    //min-width: 200px;
}

.campo-flex-2 {
    flex: 1 1 calc(50% - 12px); /* 4 columnas en pantallas grandes */
    //min-width: 200px;
}

.campo-flex-3 {
    flex: 1 1 calc(33.333% - 12px); /* 4 columnas en pantallas grandes */
    //min-width: 200px;
}

@media (max-width: 1430px){

    .contenedor-formulario,
    .contenedor-tablaDerecha {
      flex: 0 0 100%;
    }

}

/* Tablets (2 columnas) */
@media (max-width: 991px) {
    .campo-flex {
      flex: 1 1 calc(50% - 8px); /* 2 columnas */
    }

    .campo-flex-2 {
        flex: 1 1 calc(50% - 12px); /* 4 columnas en pantallas grandes */
        //min-width: 200px;
    }

    .campo-flex-3 {
        flex: 1 1 calc(33.33% - 12px); /* 4 columnas en pantallas grandes */
        //min-width: 200px;
    }
}

/* Celulares (1 columna) */
@media (max-width: 767px) {
    .campo-flex {
      flex: 1 1 100%; /* 1 columna */
    }

    .campo-flex-2 {
        flex: 1 1 calc(100% - 12px); /* 4 columnas en pantallas grandes */
        //min-width: 200px;
    }

    .campo-flex-3 {
        flex: 1 1 calc(100% - 12px); /* 4 columnas en pantallas grandes */
        //min-width: 200px;
    }

}