<form [formGroup]="myFormRecHumano">
  <div class="row-flex mt-2" style="align-items: center">
    <div [style.flex]="setFlex(30, '%')" class="flex-item">
      <h5>Código: {{ myFormRecHumano.get("codRecHumano")?.value }}</h5>
    </div>

    <div [style.flex]="setFlex(65, '%')" class="flex-item">
      <h5 class="text-center" style="font-weight: 500">RECURSOS HUMANOS</h5>
    </div>
  </div>

  <div class="contenedor-flex">
    <div class="contenedor-formulario">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Personales">
          <div class="row-flex mt-4">
            <div [style.flex]="setFlex(47.5, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Tipo Doc</mat-label>
                <mat-select formControlName="tipoDoc">
                  <mat-option value="DNI">DNI</mat-option>
                  <mat-option value="CE">CE</mat-option>
                  <mat-option value="Pasaporte">Pasaporte</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="myFormRecHumano.get('tipoDoc')?.hasError('required')"
                >
                  Obligatorio
                </mat-error>
              </mat-form-field>
            </div>

            <div [style.flex]="setFlex(47.5, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Nro. Documento</mat-label>
                <input matInput formControlName="nroDoc" />
                <mat-error
                  *ngIf="myFormRecHumano.get('nroDoc')?.hasError('required')"
                >
                  Obligatorio
                </mat-error>

                <mat-error
                  *ngIf="myFormRecHumano.get('nroDoc')?.hasError('invalidDNI')"
                >
                  DNI debe tener 8 números
                </mat-error>

                <mat-error
                  *ngIf="myFormRecHumano.get('nroDoc')?.hasError('invalidCE')"
                >
                  CE tiene hasta 13 caracteres
                </mat-error>

                <mat-error
                  *ngIf="
                    myFormRecHumano.get('nroDoc')?.hasError('invalidPasaporte')
                  "
                >
                  Pasaporte tiene hasta 16 caracteres
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row-flex">
            <div [style.flex]="setFlex(47.5, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Fecha Nacimineto</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  readonly="true"
                  formControlName="fechaNacimiento"
                  (dateChange)="actualizarEdad()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
                <mat-error
                  *ngIf="
                    myFormRecHumano.get('fechaNacimiento')?.hasError('required')
                  "
                >
                  Obligatorio
                </mat-error>
                <mat-error
                  *ngIf="
                    myFormRecHumano
                      .get('fechaNacimiento')
                      ?.hasError('fechaFutura')
                  "
                >
                  Fecha no puede ser futura
                </mat-error>
              </mat-form-field>
            </div>

            <div [style.flex]="setFlex(47.5, '%')" class="flex-item mt-2">
              {{ myFormRecHumano.get("edad")?.value }}
            </div>
          </div>

          <div class="row-flex">
            <div [style.flex]="setFlex(47.5, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Apellido Paterno</mat-label>
                <input matInput formControlName="apePatRecHumano" />
                <mat-error
                  *ngIf="
                    myFormRecHumano.get('apePatRecHumano')?.hasError('required')
                  "
                >
                  Obligatorio
                </mat-error>
                <mat-error
                  *ngIf="
                    myFormRecHumano.get('apePatRecHumano')?.hasError('pattern')
                  "
                >
                  Solo letras
                </mat-error>
              </mat-form-field>
            </div>

            <div [style.flex]="setFlex(47.5, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Apellido Materno</mat-label>
                <input matInput formControlName="apeMatRecHumano" />
                <mat-error
                  *ngIf="
                    myFormRecHumano.get('apeMatRecHumano')?.hasError('pattern')
                  "
                >
                  Solo letras
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row-flex">
            <div [style.flex]="setFlex(47.5, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Nombres</mat-label>
                <input matInput formControlName="nombreRecHumano" />
                <mat-error
                  *ngIf="
                    myFormRecHumano.get('nombreRecHumano')?.hasError('required')
                  "
                >
                  Obligatorio
                </mat-error>
                <mat-error
                  *ngIf="
                    myFormRecHumano.get('nombreRecHumano')?.hasError('pattern')
                  "
                >
                  Solo letras
                </mat-error>
              </mat-form-field>
            </div>

            <div [style.flex]="setFlex(47.5, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexoRecHumano">
                  <mat-option value="Masculino">Masculino</mat-option>
                  <mat-option value="Femenino">Femenino</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    myFormRecHumano.get('sexoRecHumano')?.hasError('required')
                  "
                >
                  Obligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Contacto">
          <div class="row-flex mt-4">
            <div [style.flex]="setFlex(31, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="departamentoRecHumano">
                  <mat-option
                    *ngFor="let depart of departamentos"
                    [value]="depart.id"
                    >{{ depart.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div [style.flex]="setFlex(31, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Provincia</mat-label>
                <mat-select formControlName="provinciaRecHumano">
                  <mat-option
                    *ngFor="let provin of provincias"
                    [value]="provin.id_Prov"
                    >{{ provin.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div [style.flex]="setFlex(33, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Distrito</mat-label>
                <mat-select formControlName="distritoRecHumano">
                  <mat-option
                    *ngFor="let distri of distritos"
                    [value]="distri.id_Ditrito"
                    >{{ distri.nombre }}</mat-option
                  >
                </mat-select>
                <mat-error
                  *ngIf="myFormRecHumano.get('distritoRecHumano')?.invalid"
                >
                  Obligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row-flex">
            <div [style.flex]="setFlex(48, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="direcRecHumano" />
              </mat-form-field>
            </div>

            <div [style.flex]="setFlex(48, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>e-mail</mat-label>
                <input matInput formControlName="mailRecHumano" />
                <mat-error
                  *ngIf="
                    myFormRecHumano.get('mailRecHumano')?.hasError('email')
                  "
                >
                  Ingrese correo válido
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <fieldset class="campo-fieldset mt-2 mb-3">
            <legend>TELÉFONOS</legend>

            <div class="row mt-1">
              <div class="col-lg-3 text-center">
                <button
                  mat-flat-button
                  color="primary"
                  class="btn-telefono"
                  type="button"
                  (click)="agregarTelefono()"
                >
                  <mat-icon class="me-1">add</mat-icon>
                  Agregar Teléfono
                </button>
              </div>

              <div class="col-lg-9">
                <div
                  formArrayName="phones"
                  *ngFor="let telGroup of phones.controls; let i = index"
                >
                  <div [formGroupName]="i" class="row-flex align-items-center">
                    <div [style.flex]="setFlex(30, '%')" class="flex-item">
                      <mat-form-field appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="phoneNumber" />
                        <mat-error
                          *ngIf="
                            telGroup.get('phoneNumber')?.hasError('required')
                          "
                        >
                          Número requerido
                        </mat-error>
                        <mat-error
                          *ngIf="
                            telGroup.get('phoneNumber')?.hasError('pattern')
                          "
                        >
                          Solo números de 9 a 11 dígitos
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div [style.flex]="setFlex(60, '%')" class="flex-item">
                      <mat-form-field appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName="descriptionPhone" />
                        <mat-error
                          *ngIf="
                            telGroup
                              .get('descriptionPhone')
                              ?.hasError('required')
                          "
                        >
                          Requerido
                        </mat-error>
                        <mat-error
                          *ngIf="
                            telGroup
                              .get('descriptionPhone')
                              ?.hasError('maxlength')
                          "
                        >
                          Máximo 30 caracteres
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div [style.flex]="setFlex(5, '%')" class="flex-item mb-2">
                      <button
                        mat-icon-button
                        class="mb-3"
                        color="warn"
                        type="button"
                        (click)="eliminarTelefono(i)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              *ngIf="!validarArrayTelefono() && formSubmitted"
              class="text-danger mt-2"
              style="font-size: 14px; text-align: center"
            >
              Debe agregar al menos un número de teléfono
            </div>
          </fieldset>
        </mat-tab>

        <mat-tab label="Profesionales">
          <div class="row-flex mt-3 mb-3">
            <div [style.flex]="setFlex(25, '%')" class="flex-item">
              <mat-form-field appearance="outline">
                <mat-label>Grado de Instrucción</mat-label>
                <mat-select formControlName="gradoInstruccion">
                  <mat-option value="1">Básica</mat-option>
                  <mat-option value="2">Técnica Incompleta </mat-option>
                  <mat-option value="3">Técnica Completa </mat-option>
                  <mat-option value="4">Universitaria Incompleta </mat-option>
                  <mat-option value="5">Universitaria Completa </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    myFormRecHumano
                      .get('gradoInstruccion')
                      ?.hasError('required')
                  "
                >
                  Obligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <fieldset class="campo-fieldset mt-2 mb-3">
            <legend>PROFESIONES</legend>

            <div
              formArrayName="profesionesRecurso"
              *ngFor="
                let profesionesGroup of profesionesRecurso.controls;
                let i = index
              "
            >
              <div [formGroupName]="i" class="flex-row-container">
                <div class="row-flex mt-2">
                  <div [style.flex]="setFlex(25, '%')" class="flex-item">
                    <mat-form-field appearance="outline">
                      <mat-label>Nivel de Profesión</mat-label>
                      <mat-select formControlName="nivelProfesion">
                        <mat-option value="Técnica">Técnica</mat-option>
                        <mat-option value="Universitaria"
                          >Universitaria</mat-option
                        >
                      </mat-select>
                      <mat-error
                        *ngIf="
                          profesionesGroup
                            .get('nivelProfesion')
                            ?.hasError('required')
                        "
                      >
                        Obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div [style.flex]="setFlex(25, '%')" class="flex-item">
                    <mat-form-field appearance="outline">
                      <mat-label>Profesión</mat-label>
                      <mat-select formControlName="profesion">
                        <mat-option value="Enfermero">Enfermero</mat-option>
                        <mat-option value="Médico">Médico</mat-option>
                        <mat-option value="Nutricionista"
                          >Nutricionista</mat-option
                        >
                        <mat-option value="Odontólogo">Odontólogo</mat-option>
                        <mat-option value="Psicólogo">Psicólogo</mat-option>
                        <mat-option value="Tecnólogo Médico"
                          >Tecnólogo Médico</mat-option
                        >
                        <mat-option value="Trabajador Social"
                          >Trabajador Social</mat-option
                        >
                        <mat-option value="Ingeniero de Sistemas"
                          >Ingeniero de Sistemas</mat-option
                        >
                      </mat-select>
                      <mat-error
                        *ngIf="
                          profesionesGroup
                            .get('profesion')
                            ?.hasError('required')
                        "
                      >
                        Obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div [style.flex]="setFlex(45, '%')" class="flex-item">
                    <mat-form-field appearance="outline">
                      <mat-label>Centro de Estudios</mat-label>
                      <input
                        matInput
                        formControlName="centroEstudiosProfesion"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row-flex">
                  <div
                    [style.flex]="setFlex(15, '%')"
                    class="flex-item mb-2 text-center"
                  >
                    <mat-slide-toggle formControlName="titulo"
                      >Título</mat-slide-toggle
                    >
                  </div>

                  <div [style.flex]="setFlex(25, '%')" class="flex-item">
                    <mat-form-field appearance="outline">
                      <mat-label>Colegiatura</mat-label>
                      <input matInput formControlName="nroColegiatura" />
                    </mat-form-field>
                  </div>

                  <div [style.flex]="setFlex(25, '%')" class="flex-item">
                    <mat-form-field appearance="outline">
                      <mat-label>Año de Egreso</mat-label>
                      <input matInput formControlName="anioEgresoProfesion" />
                    </mat-form-field>
                  </div>

                  <div
                    [style.flex]="setFlex(15, '%')"
                    class="flex-item mb-2 text-center"
                  >
                    <mat-slide-toggle
                      color="primary"
                      [checked]="
                        profesionesGroup.get('profesionSolicitante')?.value
                      "
                      (change)="seleccionarProfesionSolicitante(i)"
                    >
                      Solicitante
                    </mat-slide-toggle>
                  </div>

                  <div
                    [style.flex]="setFlex(15, '%')"
                    class="flex-item mb-2 text-center"
                  >
                    <button
                      mat-icon-button
                      class="mb-3"
                      color="warn"
                      type="button"
                      (click)="eliminarProfesion(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center mt-2">
              <button
                mat-flat-button
                color="primary"
                class="btn-telefono"
                type="button"
                (click)="agregarProfesion()"
              >
                <mat-icon class="me-1">add</mat-icon>
                Agregar Profesión
              </button>
            </div>
          </fieldset>

          <fieldset class="campo-fieldset mt-2 mb-3">
            <legend>ESPECIALIDADES</legend>

            <div
              formArrayName="especialidadesRecurso"
              *ngFor="
                let especialidadesGroup of especialidadesRecurso.controls;
                let i = index
              "
            >
              <div [formGroupName]="i" class="flex-row-container">
                <div class="row-flex mt-2">
                  <div [style.flex]="setFlex(30, '%')" class="flex-item">
                    <mat-form-field appearance="outline">
                      <mat-label>Especialdiad</mat-label>
                      <mat-select formControlName="especialidad">
                        <mat-option value="Pediatría">Pediatría</mat-option>
                        <mat-option value="Radiólogía">Radiólogía</mat-option>
                        <mat-option value="Ginecología y Obstetricia"
                          >Ginecología y Obstetricia</mat-option
                        >
                      </mat-select>
                      <mat-error
                        *ngIf="
                          especialidadesGroup
                            .get('especialidad')
                            ?.hasError('required')
                        "
                      >
                        Obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div [style.flex]="setFlex(30, '%')" class="flex-item">
                    <mat-form-field appearance="outline">
                      <mat-label>Centro de Estudios</mat-label>
                      <input
                        matInput
                        formControlName="centroEstudiosEspecialidad"
                      />
                    </mat-form-field>
                  </div>

                  <div [style.flex]="setFlex(15, '%')" class="flex-item">
                    <mat-form-field appearance="outline">
                      <mat-label>RNE</mat-label>
                      <input matInput formControlName="rne" />
                      <mat-error
                        *ngIf="
                          especialidadesGroup.get('rne')?.hasError('required')
                        "
                      >
                        Obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div [style.flex]="setFlex(15, '%')" class="flex-item">
                    <mat-form-field appearance="outline">
                      <mat-label>Año de Egreso</mat-label>
                      <input
                        matInput
                        formControlName="anioEgresoEspecialidad"
                      />
                    </mat-form-field>
                  </div>

                  <div
                    [style.flex]="setFlex(5, '%')"
                    class="flex-item align-items-center"
                  >
                    <button
                      mat-icon-button
                      class="mb-3"
                      color="warn"
                      type="button"
                      (click)="eliminarEspecialidad(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center mt-2">
              <button
                mat-flat-button
                color="primary"
                class="btn-telefono"
                type="button"
                (click)="agregarEspecialidad()"
              >
                <mat-icon class="me-1">add</mat-icon>
                Agregar Especialidad
              </button>
            </div>
          </fieldset>
        </mat-tab>

        <mat-tab label="Permisos">
          <div class="row-flex mt-3">
            <div [style.flex]="setFlex(20, '%')" class="flex-item mb-3">
              <mat-slide-toggle
                formControlName="usuarioSistema"
                color="primary"
              >
                Acceso al sistema
              </mat-slide-toggle>
            </div>
          </div>

          <div [formGroupName]="'datosLogueo'">
            <div class="row-flex">
              <div [style.flex]="setFlex(30, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre Usuario</mat-label>
                  <input matInput formControlName="nombreUsuario" />
                  <mat-error
                    *ngIf="
                      myFormRecHumano
                        .get('datosLogueo.nombreUsuario')
                        ?.hasError('required')
                    "
                  >
                    Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(30, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input
                    matInput
                    [type]="hidePassword ? 'password' : 'text'"
                    formControlName="passwordHash"
                  />
                  <button
                    type="button"
                    mat-icon-button
                    matSuffix
                    (click)="hidePassword = !hidePassword"
                  >
                    <mat-icon>{{
                      hidePassword ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      myFormRecHumano
                        .get('datosLogueo.passwordHash')
                        ?.hasError('required')
                    "
                  >
                    Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(30, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Rol</mat-label>
                  <mat-select formControlName="rol">
                    <mat-option
                      *ngFor="let rol of rolesDisponibles"
                      [value]="rol._id"
                    >
                      {{ rol.codRol }} - {{ rol.nombreRol }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      myFormRecHumano
                        .get('datosLogueo.rol')
                        ?.hasError('required')
                    "
                  >
                    Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(30, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Correo login</mat-label>
                  <input matInput formControlName="correoLogin" />
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(30, '%')" class="flex-item">
                <mat-form-field appearance="outline">
                  <mat-label>Sede</mat-label>
                  <mat-select formControlName="sedeAsignada">
                    <mat-option value="Callao">Callao</mat-option>
                    <mat-option value="Comas">Comas</mat-option>
                    <mat-option value="Global">Global</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      myFormRecHumano
                        .get('datosLogueo.sedeAsignada')
                        ?.hasError('required')
                    "
                  >
                    Obligatorio
                  </mat-error>
                </mat-form-field>
              </div>

              <div [style.flex]="setFlex(30, '%')" class="flex-item mb-3">
                <mat-slide-toggle formControlName="estado" color="primary">
                  Activo
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

      <div class="row-flex mt-4">
        <div [style.flex]="setFlex(32, '%')" class="flex-item">
          <button
            mat-raised-button
            class="btn-nuevo"
            type="button"
            (click)="nuevoRecHumano()"
          >
            Nuevo Recurso Humano
          </button>
        </div>

        <div [style.flex]="setFlex(32, '%')" class="flex-item">
          <button
            mat-raised-button
            class="btn-registrar"
            *ngIf="!recHumanoSeleccionado"
            type="button"
            (click)="registraRecHumano()"
          >
            Registrar Recurso Humano
          </button>
        </div>

        <div [style.flex]="setFlex(32, '%')" class="flex-item">
          <button
            mat-raised-button
            class="btn-actualizar"
            type="button"
            (click)="actualizarRecHumano()"
          >
            Actualizar Recurso Humano
          </button>
        </div>
      </div>
    </div>

    <div class="contenedor-tablaDerecha">
      <mat-card class="tabla-recHumano-card">
        <mat-card-title> Recursos Humanos Registrados </mat-card-title>

        <mat-card-content>
          <mat-form-field appearance="outline" class="mt-2">
            <mat-label>Buscar Recurso Humano</mat-label>
            <input
              matInput
              [formControl]="terminoBusquedaRecHumanoControl"
              (keyup)="filtrar()"
              (focus)="seleccionarTexto($event)"
            />
          </mat-form-field>

          <table
            mat-table
            [dataSource]="dataSourceRecursoHumano"
            class="tabla-pacientes mt-1"
          >
            <!-- N° -->
            <ng-container matColumnDef="nro">
              <th mat-header-cell *matHeaderCellDef>N°</th>
              <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
            </ng-container>

            <!-- HC -->
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef>Código</th>
              <td mat-cell *matCellDef="let recHumano">
                {{ recHumano.codRecHumano }}
              </td>
            </ng-container>

            <!-- Apellidos y Nombres  -->
            <ng-container matColumnDef="nombreCompleto">
              <th mat-header-cell *matHeaderCellDef>Apellidos y Nombres</th>
              <td mat-cell *matCellDef="let recHumano">
                {{ recHumano.apePatRecHumano }} {{ recHumano.apeMatRecHumano }}
                {{ recHumano.nombreRecHumano }}
              </td>
            </ng-container>

            <!-- Nro. Documento -->
            <ng-container matColumnDef="nroDoc">
              <th mat-header-cell *matHeaderCellDef>Nro. Doc</th>
              <td mat-cell *matCellDef="let recHumano">
                {{ recHumano.tipoDoc }} - {{ recHumano.nroDoc }}
              </td>
            </ng-container>

            <!-- Filas -->
            <tr
              mat-header-row
              *matHeaderRowDef="columnasTablaRecursoHumano"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: columnasTablaRecursoHumano"
              (click)="cargarRecursoHumano(row)"
            ></tr>
          </table>

          <div>
            <mat-paginator
              #MatPaginatorRecHumano
              [pageSizeOptions]="[5, 10, 25]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
