<h2 mat-dialog-title>Buscar Cliente</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="w-100 mt-1">
    <mat-label>Ingrese ruc o razón social...</mat-label>
    <input matInput [formControl]="terminoBusquedaEmpresa" />
    @if (terminoBusquedaEmpresa.value) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="terminoBusquedaEmpresa.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <div *ngIf="cargando" class="text-center my-3">
    <mat-spinner diameter="30"></mat-spinner>
  </div>

  <table
    mat-table
    [dataSource]="dataSourceEmpresas"
    class="mat-elevation-z8 w-100"
    *ngIf="!cargando"
  >
    <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef>N°</th>
      <td mat-cell *matCellDef="let empresa; let i = index">{{ i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="ruc">
      <th mat-header-cell *matHeaderCellDef>RUC</th>
      <td mat-cell *matCellDef="let empresa">{{ empresa.ruc }}</td>
    </ng-container>
    <ng-container matColumnDef="razonSocial">
      <th mat-header-cell *matHeaderCellDef>Razón social</th>
      <td mat-cell *matCellDef="let empresa">
        {{ empresa.razonSocial }}
      </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acción</th>
      <td mat-cell *matCellDef="let empresa">
        <button mat-icon-button (click)="seleccionarEmpresa(empresa)">
          <mat-icon>add</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasTablaEmpresas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasTablaEmpresas"></tr>
  </table>

  <div>
    <mat-paginator
      #MatPaginatorEmpresas
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25]"
      showFirstLastButtons
    ></mat-paginator>
  </div>

  <div
    *ngIf="!cargando && dataSourceEmpresas.data.length === 0"
    class="text-center mt-2"
  >
    No se encontraron empresas.
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="warn" (click)="cerrar()">Cerrar</button>
</mat-dialog-actions>
