mat-form-field {
  width: 100%;
  height: 50%;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 0px;
}

.flex-item {
  justify-content: center;
  min-width: 0;
  //text-align: center;
  padding: 10px;
}
