mat-form-field {
    width: 100%;
}

mat-card-title {
    background-color: #0f3369;  // Azul Bootstrap
    color: white;
    padding-left: 1.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-weight: lighter;
    //font-size: 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

mat-option {
    font-size: 13px;
    //color: #0f3369;  // Azul Bootstrap
}

.mat-mdc-header-row{
    background-color: #0f3369;
    color: #ffffff;
}

.mat-mdc-card-content:last-child{
    padding-bottom: 0%;
}

.tabla-pacientes {
    width: 100%;
}

.tabla-telefonos {
    table-layout: auto;
  }

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #0b4b48;
    color: #ffffff;
}


.mat-column-numero {
    width: 20%;
    text-align: center;
}

.mat-column-descripcion {
    width: 60%;
    text-align: left;
}

.mat-column-acciones {
    width: 20%;
    text-align: center;
}

.mat-column-nro {
    width: 5%;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-hc {
    width: 20%;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-nombreCompleto {
    width: 40%;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-tipoDoc {
    width: 15%;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-nroDoc {
    width: 20%;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

.input-busqueda{
    height: 25px;
}
