.sidenav-container {
  //position: absolute;
  height: 100vh;
}

.sidenav {
  width: 400px;
  background-color: #f4f6f8;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  padding: 16px;
}
