<!-- Cotización Paciente - Angular Material Adaptación -->
<form [formGroup]="myFormCotizacion">
  <div class="contenedor-flex">
    <div class="contenedor-formulario">
      <div class="row-flex" style="align-items: center">
        <div
          [style.flex]="setFlex(35, '%')"
          class="flex-item quicksand-totales"
        >
          <h5 class="text-center mb-3" style="font-weight: 700">
            COTIZACIÓN PACIENTE
          </h5>
        </div>

        <div [style.flex]="setFlex(13, '%')" class="flex-item">
          <mat-form-field appearance="outline">
            <mat-label>N° Cotización</mat-label>
            <input matInput formControlName="codCotizacion" readonly />
          </mat-form-field>
        </div>

        <div [style.flex]="setFlex(17, '%')" class="flex-item">
          <mat-form-field appearance="outline">
            <mat-label>Fecha</mat-label>
            <input matInput formControlName="fechaModificacion" readonly />
          </mat-form-field>
        </div>

        <div [style.flex]="setFlex(10, '%')" class="flex-item">
          <mat-form-field appearance="outline">
            <mat-label>Versión</mat-label>
            <input matInput formControlName="version" readonly />
          </mat-form-field>
        </div>

        <div [style.flex]="setFlex(17, '%')" class="flex-item">
          <button
            mat-icon-button
            (click)="cambiarVersion(-1)"
            *ngIf="!tienePagos"
          >
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="cambiarVersion(1)"
            *ngIf="!tienePagos"
          >
            <mat-icon>chevron_right</mat-icon>
          </button>
          <button
            class="mb-3"
            mat-button
            matSuffix
            (click)="irUltimaVersion()"
            *ngIf="!tienePagos"
          >
            Vigente
          </button>
        </div>
      </div>

      <fieldset class="campo-fieldset">
        <legend>Paciente</legend>

        <div class="row-flex">
          <!-- <div [style.flex]="setFlex(14, '%')" class="flex-item mb-3">
            <mat-slide-toggle
              formControlName="estadoRegistroPaciente"
              (change)="camnbioEstadoRegistroPaciente()"
            >
              <div style="font-size: 0.7rem">¿Registrado?</div>
            </mat-slide-toggle>
          </div> -->

          <div [style.flex]="setFlex(9, '%')" class="flex-item mb-3">
            <button
              mat-mini-fab
              color="primary"
              id="buscarPacienteModalBtn"
              (click)="abrirDialogoBuscarPaciente()"
            >
              <mat-icon>search</mat-icon>
            </button>
          </div>

          <div [style.flex]="setFlex(48, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de Cliente</mat-label>
              <!-- <input matInput formControlName="nombreCompleto" /> -->

              <input
                matInput
                [value]="
                  (myFormCotizacion.get('apePatCliente')?.value || '') +
                  ' ' +
                  (myFormCotizacion.get('apeMatCliente')?.value || '') +
                  ' ' +
                  (myFormCotizacion.get('nombreCliente')?.value || '')
                "
                disabled
                readonly
              />
            </mat-form-field>
          </div>
          <div [style.flex]="setFlex(18, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Tipo Doc</mat-label>
              <input
                matInput
                [value]="myFormCotizacion.get('tipoDoc')?.value || ''"
                disabled
                readonly
              />
              <!-- <mat-select formControlName="tipoDoc">
                <mat-option value="DNI">DNI</mat-option>
                <mat-option value="CE">CE</mat-option>
                <mat-option value="Pasaporte">Pasaporte</mat-option>
              </mat-select> -->
            </mat-form-field>
          </div>
          <div [style.flex]="setFlex(20, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Nro. Doc</mat-label>

              <input
                matInput
                [value]="myFormCotizacion.get('nroDoc')?.value || ''"
                disabled
                readonly
              />

              <!-- <input matInput formControlName="nroDoc" />
              <mat-error *ngIf="myFormCotizacion.get('nroDoc')?.invalid">
                <span
                  *ngIf="myFormCotizacion.get('nroDoc')?.errors?.['required']"
                  >El número de documento es obligatorio.</span
                >
                <span
                  *ngIf="myFormCotizacion.get('nroDoc')?.errors?.['invalidDNI']"
                  >El DNI debe tener exactamente 8 dígitos.</span
                >
                <span
                  *ngIf="myFormCotizacion.get('nroDoc')?.errors?.['invalidCE']"
                  >El CE debe tener un máximo de 13 caracteres
                  alfanuméricos.</span
                >
                <span
                  *ngIf="
                    myFormCotizacion.get('nroDoc')?.errors?.['invalidPasaporte']
                  "
                  >El Pasaporte debe tener un máximo de 16 caracteres
                  alfanuméricos.</span
                >
              </mat-error> -->
            </mat-form-field>
          </div>
        </div>
      </fieldset>

      <fieldset class="campo-fieldset mt-3">
        <legend>Solicitante</legend>

        <div class="row-flex mt-2">
          <!-- <div [style.flex]="setFlex(14, '%')" class="flex-item mb-3">
            <mat-slide-toggle
              formControlName="estadoRegistroSolicitante"
              (change)="camnbioEstadoRegistroSolicitante()"
            >
              <div style="font-size: 0.7rem">¿Registrado?</div>
            </mat-slide-toggle>
          </div> -->
          <div [style.flex]="setFlex(9, '%')" class="flex-item mb-3">
            <button
              mat-mini-fab
              id="buscarSolicitanteModalBtn"
              (click)="abrirDialogoBuscarSolicitante()"
            >
              <mat-icon>search</mat-icon>
            </button>
          </div>

          <!-- <div [style.flex]="setFlex(17,'%')" class="flex-item">
                        <mat-form-field appearance="outline" *ngIf="myFormCotizacion.get('estadoRegistroSolicitante')?.value">
                            <mat-label>Código</mat-label>
                            <input matInput formControlName="codSolicitante" readonly>
                        </mat-form-field>
                    </div> -->

          <div [style.flex]="setFlex(43, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <!-- <input matInput formControlName="nomSolicitante" /> -->

              <input
                matInput
                [value]="
                  (myFormCotizacion.get('apePatRefMedico')?.value || '') +
                  ' ' +
                  (myFormCotizacion.get('apeMatRefMedico')?.value || '') +
                  ' ' +
                  (myFormCotizacion.get('nombreRefMedico')?.value || '')
                "
                disabled
                readonly
              />
            </mat-form-field>
          </div>

          <div [style.flex]="setFlex(19, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Profesión</mat-label>
              <!-- <input matInput formControlName="profesionSolicitante" /> -->
              <input
                matInput
                [value]="
                  myFormCotizacion.get('profesionSolicitante')?.value || ''
                "
                disabled
                readonly
              />
            </mat-form-field>
          </div>

          <!-- <div [style.flex]="setFlex(10,'%')" class="flex-item">
                        <mat-form-field appearance="outline">
                            <mat-label>Colegiatura</mat-label>
                            <input matInput formControlName="colegiatura">
                        </mat-form-field>
                    </div> -->

          <div [style.flex]="setFlex(24, '%')" class="flex-item">
            <mat-form-field appearance="outline">
              <mat-label>Especialidad</mat-label>
              <!-- <input matInput formControlName="especialidadSolicitante" /> -->
              <input
                matInput
                [value]="
                  myFormCotizacion.get('especialidadSolicitante')?.value || ''
                "
                disabled
                readonly
              />
            </mat-form-field>
          </div>
        </div>
      </fieldset>

      <mat-card class="mt-2">
        <mat-card-title> Servicios Cotizados </mat-card-title>

        <mat-card-content>
          <table mat-table [dataSource]="dataSourceServiciosCotizados">
            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Acción
              </th>
              <td
                mat-cell
                *matCellDef="let row; let i = index"
                class="text-center"
              >
                <button
                  mat-icon-button
                  (click)="removerServicio(i)"
                  [disabled]="tienePagos"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Código
              </th>
              <td mat-cell *matCellDef="let row" class="text-center">
                {{ row.get("codServicio")?.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Tipo
              </th>
              <td mat-cell *matCellDef="let row" class="text-center">
                {{ row.get("tipoServicio")?.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Nombre
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.get("nombreServicio")?.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="medicoAtiende">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Médico
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <ng-container [formGroup]="row">
                  <ng-container
                    *ngIf="
                      row.get('tipoServicio')?.value === 'Consulta' ||
                      row.get('tipoServicio')?.value === 'Ecografía'
                    "
                  >
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <ng-container
                        *ngIf="row.get('medicoAtiende')?.value; else sinMedico"
                      >
                        <span>
                          Dr.
                          {{ row.get("medicoAtiende")?.value?.apePatRecHumano }}
                          {{ row.get("medicoAtiende")?.value?.apeMatRecHumano }}
                          {{ row.get("medicoAtiende")?.value?.nombreRecHumano }}
                        </span>
                        <button
                          mat-icon-button
                          color="primary"
                          (click)="abrirDialogoMedico(i)"
                          matTooltip="Editar Médico"
                        >
                          <mat-icon>edit</mat-icon>
                        </button>
                      </ng-container>
                      <ng-template #sinMedico>
                        <button
                          mat-button
                          color="primary"
                          (click)="abrirDialogoMedico(i)"
                          style="font-size: 12px"
                        >
                          Seleccionar Médico
                        </button>
                      </ng-template>
                    </div>
                  </ng-container>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Cantidad
              </th>
              <td
                mat-cell
                *matCellDef="let row; let i = index"
                class="text-center"
              >
                <ng-container [formGroup]="row">
                  <input
                    matInput
                    type="number"
                    formControlName="cantidad"
                    min="1"
                    (input)="calcularTotalUnitario(i)"
                    class="input-centrado"
                    style="width: 50px"
                  />
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="precioLista">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Precio Lista
              </th>
              <td mat-cell *matCellDef="let row" class="text-center">
                S/ {{ row.get("precioLista")?.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="diferencia">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Desc o Aum.
              </th>
              <td mat-cell *matCellDef="let row" class="text-center">
                S/ {{ row.get("diferencia")?.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="precioVenta">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Precio Venta
              </th>
              <td
                mat-cell
                *matCellDef="let row; let i = index"
                class="text-center"
              >
                <ng-container [formGroup]="row">
                  <input
                    matInput
                    type="number"
                    formControlName="precioVenta"
                    min="0"
                    (input)="calcularTotalUnitario(i)"
                    class="input-centrado"
                    style="width: 50px"
                  />
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="descuentoPorcentaje">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Descuento (%)
              </th>
              <td
                mat-cell
                *matCellDef="let row; let i = index"
                class="text-center"
              >
                <ng-container [formGroup]="row">
                  <input
                    matInput
                    type="number"
                    formControlName="descuentoPorcentaje"
                    min="0"
                    max="100"
                    (input)="calcularTotalUnitario(i)"
                    class="input-centrado"
                    style="width: 50px"
                  />
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="totalUnitario">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Total Unitario
              </th>
              <td mat-cell *matCellDef="let row" class="text-center">
                S/ {{ row.get("totalUnitario")?.value }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="columnasTablaServiciosCotizados"
            ></tr>
            <tr
              mat-row
              *matRowDef="
                let row;
                let i = index;
                columns: columnasTablaServiciosCotizados
              "
              [formGroup]="row"
            ></tr>
          </table>

          <div
            *ngIf="serviciosCotizacion.controls.length === 0"
            class="text-center mt-2"
          >
            Agregue servicios para cotizar.
          </div>
          <mat-error
            class="text-center"
            *ngIf="
              myFormCotizacion
                .get('serviciosCotizacion')
                ?.hasError('required') && formSubmitted
            "
          >
            Es necesario agregar al menos un servicio.
          </mat-error>

          <div class="totales-cotizacion-container mb-2">
            <div class="totales-cotizacion">
              <div class="fila quicksand-subtotal">
                <span>Total Precio Lista: S/</span>
                <span>{{
                  myFormCotizacion.get("sumaTotalesPrecioLista")?.value
                    | number: "1.2-2"
                }}</span>
              </div>

              <div class="fila quicksand-subtotal">
                <span>Descuento Total: S/</span>
                <span>{{
                  myFormCotizacion.get("descuentoTotal")?.value
                    | number: "1.2-2"
                }}</span>
              </div>

              <div class="fila quicksand-subtotal">
                <span>Aplicar Precio Total</span>
                <span>
                  <mat-slide-toggle
                    formControlName="aplicarPrecioGlobal"
                    (change)="cambioEstadoDescGlobal(false)"
                  ></mat-slide-toggle>
                  <input
                    matInput
                    #inputPrecioGlobal
                    style="width: 60px"
                    formControlName="precioConDescGlobal"
                    class="text-center"
                    (input)="calcularTotalGeneral()"
                  />
                </span>
              </div>

              <div class="fila quicksand-subtotal">
                <span>Aplicar Descuento %</span>
                <span>
                  <mat-slide-toggle
                    formControlName="aplicarDescuentoPorcentGlobal"
                    (change)="cambioEstadoDescPorcentajeGlobal(false)"
                  ></mat-slide-toggle>
                  <input
                    matInput
                    #inputPorcentajeGlobal
                    style="width: 60px"
                    formControlName="descuentoPorcentaje"
                    class="text-center"
                    (input)="calcularTotalGeneral()"
                  />
                </span>
              </div>

              <div class="fila quicksand-subtotal">
                <span>Sub Total</span>
                <span>{{
                  myFormCotizacion.get("subTotal")?.value | number: "1.2-2"
                }}</span>
              </div>

              <div class="fila quicksand-subtotal">
                <span>IGV (18%)</span>
                <span>{{
                  myFormCotizacion.get("igv")?.value | number: "1.2-2"
                }}</span>
              </div>

              <div class="fila quicksand-totales">
                <span>Total a pagar</span>
                <span>{{
                  myFormCotizacion.get("total")?.value | number: "1.2-2"
                }}</span>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="row-flex mt-4">
        <button mat-raised-button (click)="nuevaCotizacionPersona()">
          NUEVA COTIZACIÓN
        </button>
        <button
          mat-raised-button
          *ngIf="!seSeleccionoCotizacion"
          (click)="generarCotizacion()"
        >
          GENERAR COTIZACIÓN
        </button>
        <button
          mat-raised-button
          *ngIf="!tienePagos"
          (click)="generarVersionCotizacionPersona()"
        >
          GENERAR NUEVA VERSIÓN
        </button>
        <button mat-raised-button (click)="generarPDF(true)">
          VISTA PREVIA
        </button>
      </div>
    </div>

    <div class="contenedor-tablaDerecha">
      <mat-card>
        <mat-card-title> Últimas Cotizaciones </mat-card-title>

        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Buscar Cotización</mat-label>
            <input
              matInput
              [formControl]="terminoBusquedaCotizacion"
              (focus)="seleccionarTexto($event)"
            />
            @if (terminoBusquedaCotizacion.value) {
              <button
                matSuffix
                mat-icon-button
                class="clear-search-button"
                aria-label="Clear"
                (click)="terminoBusquedaCotizacion.setValue('')"
              >
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>

          <table mat-table [dataSource]="dataSourceCotizaciones">
            |
            <ng-container matColumnDef="codCotizacion">
              <th mat-header-cell *matHeaderCellDef>Cod Coti</th>
              <td mat-cell *matCellDef="let cotizacion">
                {{ cotizacion.codCotizacion }}
              </td>
            </ng-container>

            <ng-container matColumnDef="paciente">
              <th mat-header-cell *matHeaderCellDef>Paciente</th>
              <td mat-cell *matCellDef="let cotizacion">
                {{
                  cotizacion.historial[cotizacion.historial.length - 1].tipoDoc
                }}
                {{
                  cotizacion.historial[cotizacion.historial.length - 1].nroDoc
                }}
                --
                {{
                  cotizacion.historial[cotizacion.historial.length - 1]
                    .apePatCliente
                }}
                {{
                  cotizacion.historial[cotizacion.historial.length - 1]
                    .apeMatCliente
                }}
                {{
                  cotizacion.historial[cotizacion.historial.length - 1]
                    .nombreCliente
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef>Fecha</th>
              <td mat-cell *matCellDef="let cotizacion">
                {{
                  cotizacion.historial[cotizacion.historial.length - 1]
                    .fechaModificacion | date: "dd/MM/yyyy"
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="versiones">
              <th mat-header-cell *matHeaderCellDef>Vers.</th>
              <td mat-cell *matCellDef="let cotizacion">
                {{ cotizacion.historial.length }}
              </td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>Estado</th>
              <td mat-cell *matCellDef="let cotizacion">
                {{ cotizacion.estadoCotizacion }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasCotizaciones"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: columnasCotizaciones"
              (click)="cargarCotizacion(row)"
            ></tr>
          </table>
          <div>
            <mat-paginator
              #MatPaginatorCotizaciones
              [pageSizeOptions]="[5, 10, 25]"
              showFirstLastButtons
            ></mat-paginator>
          </div>

          <div
            *ngIf="dataSourceCotizaciones.data.length === 0"
            class="text-center mt-2"
          >
            No se encontraron cotizaciones.
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mt-2">
        <mat-card-title> Servicios Disponibles </mat-card-title>

        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Buscar Servicio</mat-label>
            <input
              matInput
              [formControl]="terminoBusquedaServicio"
              (input)="buscarServicio()"
            />
            @if (terminoBusquedaServicio.value) {
              <button
                matSuffix
                class="clear-search-button"
                mat-icon-button
                aria-label="Clear"
                (click)="terminoBusquedaServicio.setValue('')"
              >
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>

          <table mat-table [dataSource]="dataSourceServicios">
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef>Código</th>
              <td mat-cell *matCellDef="let servicio">
                {{ servicio.codServicio }}
              </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let servicio">
                {{ servicio.nombreServicio }}
              </td>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef>Tipo</th>
              <td mat-cell *matCellDef="let servicio">
                {{ servicio.tipoServicio }}
              </td>
            </ng-container>

            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef>Acción</th>
              <td mat-cell *matCellDef="let servicio">
                <button mat-icon-button (click)="verDetalle(servicio)">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button (click)="seleccionarServicio(servicio)">
                  <mat-icon>add</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasServicios"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasServicios"></tr>
          </table>
          <div>
            <mat-paginator
              #MatPaginatorServicios
              [pageSizeOptions]="[5, 10, 25]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
          <div
            *ngIf="dataSourceServicios.data.length === 0"
            class="text-center mt-2"
          >
            No se encontraron servicios.
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mt-2">
        <mat-card-title> Servicios Frecuentes </mat-card-title>

        <mat-card-content>
          <div class="d-flex flex-wrap gap-2 mt-2 mb-2">
            <button
              mat-flat-button
              *ngFor="let servicio of dataSourceServiciosFrecuentes.data"
              (click)="seleccionarServicio(servicio)"
            >
              {{ servicio.nombreServicio }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
