.contenedor-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.contenedor-formulario {
  flex: 0 0 50%;
  padding: 10px;
}

.contenedor-tablaDerecha {
  flex: 0 0 50%;
  padding: 10px;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 0px;
}

.flex-item {
  justify-content: center;
  min-width: 0;
  text-align: center;
  padding: 10px;
}
