mat-form-field {
  width: 100%;
  height: 50%;
}

//Inicio CARD-----------
mat-card-title {
  background-color: #0f3369;
  color: white;
  padding-left: 1.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-weight: lighter;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

mat-card-content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  font-size: 14px;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0.5rem;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 4px;
}

//Fin CARD--------------

/* Eliminar las flechas en navegadores WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-centrado {
  text-align: center;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #dfe9f3;
  cursor: pointer;
}

mat-option {
  font-size: 13px;
}

::ng-deep .mat-mdc-tab-body-content {
  overflow-x: hidden !important;
}

.mat-mdc-icon-button .mat-mdc-button-touch-target {
  width: 18px !important; /* Aumenta el tamaño del área de toque */
  height: 18px !important; /* Aumenta el tamaño del área de toque */
}

.flex-item {
  justify-content: center;
  min-width: 0;
  text-align: center;
}

.campo-fieldset {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.7rem 0.5rem 0rem 0.5rem;
  position: relative;
}

.campo-fieldset legend {
  font-size: 0.9rem;
  font-weight: 500;
  width: auto;
  color: #0f3369;
  background-color: #f9f9f9;
  padding: 0 0.5rem;
  margin-left: 1rem;
  position: absolute;
  top: -0.6rem;
}

.contenedor-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: flex-start;
  margin-left: 1rem;
}

.contenedor-formulario {
  flex: 0 0 98%;
}

.contenedor-tablaDerecha {
  flex: 0 0 41%;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
}

.flex-row-container {
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.flex-row-container:hover {
  background-color: #dfe9f3;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1430px) {
  .contenedor-formulario,
  .contenedor-tablaDerecha {
    flex: 0 0 100%;
  }
}

/* Tablets (2 columnas) */
@media (max-width: 991px) {
  .flex-item {
    flex: 1 1 48% !important; /* Cada item ocupará 100% cuando sea pequeño */
  }
}

/* Celulares (1 columna) */
@media (max-width: 767px) {
  .flex-item {
    flex: 1 1 100% !important; /* Cada item ocupará 100% cuando sea pequeño */
  }
}

.quicksand-totales {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.3rem;
  color: #0128a7;
}

.quicksand-subtotal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.texto-rojo {
  color: red;
}

.texto-verde {
  color: green;
}

.btn-confirmar-anulacion {
  background-color: #d32f2f !important; // rojo fuerte
  color: white !important;
}

//nueva tabla
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row {
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-element-detail-wrapper-expanded {
  grid-template-rows: 1fr;
}

.example-element-detail {
  display: flex;
  min-height: 0;
}

.example-element-description {
  padding: 5px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.example-toggle-button {
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-toggle-button-expanded {
  transform: rotate(180deg);
}

.tabla-servicios-estilizada {
  width: 100%;
  border-collapse: collapse;
  background: #f4f6f8;
  border-radius: 8px;
  overflow: hidden;

  th {
    background-color: #e3eaf3;
    color: #2e3c4d;
    font-weight: 600;
    padding: 8px 12px;
    text-align: left;
  }

  td {
    padding: 8px 12px;
    border-top: 1px solid #d0d7de;
  }

  tr:last-child td {
    border-bottom: none;
  }

  mat-chip {
    font-weight: 300;
    font-size: 12px;
  }
}
